<h1>Tents#index</h1>
<p>Find me in app/views/tents/index.html.erb</p>
<div class="fb-like" data-href="https://www.facebook.com/likelioncbnu" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>