<section>
<div id="why" class="why">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-md-6 col-sm-12 col-xs-12" style="text-align:center;">
            <div id="testimonial" class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="touch-slider" class="owl-carousel owl-theme">

                <div class="d-flex justify-content-center">
                  <img class="img-member img-fluid" src="img/seung/s.jpg">
                </div>

                <div class="d-flex justify-content-center">
                  <img class="img-member img-fluid" src="img/seung/a.jpg">
                  </div>

                   <div class="d-flex justify-content-center">
                  <img class="img-member img-fluid" src="img/seung/b.jpg">
                  </div>

                   <div class="d-flex justify-content-center">
                  <img class="img-member img-fluid" src="img/seung/p.jpg">
                  </div>

                   <div class="d-flex justify-content-center">
                  <img class="img-member img-fluid" src="img/seung/gayo.jpg">
                  </div>

                   <div class="d-flex justify-content-center">
                  <img class="img-member img-fluid" src="img/seung/lie.jpg">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>