<section>
<div id="why" class="festi why milky">
      <div class="container">
        <div class="section-header text-center">
        		<h2 class="section-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">축제정보</h2>
        	</div>

        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-12 col-xs-12" style="text-align:center;">
            <div id="testimonial" class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="touch-slider" class="owl-carousel owl-theme">
                
                
                <% for i in 1..37 %>
                <div class="d-flex justify-content-center">
                  <img class="img-member img-fluid" src="img/sumup/sumup<%= i%>.jpg">
                </div>
                <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="d-flex justify-content-end">
                              <div style="text-align:center;">
                                <p><strong>[출처]</strong></p>
                                <img style="width:80px; height:70px;" src="img/happy.jpg">
                                </div>
                            </div>
      </div>
</section>