
<!-- Contact Icon End -->
<!-- Footer Section Start -->
<footer>
<!-- Footer area End -->
<!-- Copyright Start  -->
<div id="maden"></div>
<div id="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="site-info pull-left wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
					<p>
						 Template by <a rel="nofollow" href="http://graygrids.com">GrayGrids</a>
					</p>
				</div>
				<div class="bottom-social-icons social-icon pull-right wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
					<a class="twitter" href="https://twitter.com/GrayGrids"><i class="fa fa-twitter"></i></a>
					<a class="facebook" " href="https://web.facebook.com/GrayGrids"><i class="fa fa-facebook"></i></a>
					<a class="google-plus" " href="https://plus.google.com/+GrayGrids"><i class="fa fa-google-plus"></i></a>
					<a class="linkedin" href="https://www.linkedin.com/GrayGrids"><i class="fa fa-linkedin"></i></a>
					<a class="dribble" href="https://dribbble.com/GrayGrids"><i class="fa fa-dribbble"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Copyright End -->
</footer>
<!-- Footer Section End -->
<!-- Go To Top Link -->
<a href="#" class="back-to-top">
<i class="fa fa-arrow-up"></i>
</a>
<div id="loader">
	<div class="cssload-thecube">
		<div class="cssload-cube cssload-c1">
		</div>
		<div class="cssload-cube cssload-c2">
		</div>
		<div class="cssload-cube cssload-c4">
		</div>
		<div class="cssload-cube cssload-c3">
		</div>
	</div>
</div>
