<section id="line-up" class="section milky">
	<div class="section contact-icon">
		
		
		<div class="container">
			
			<div class="section-header text-center">
				<h2 class="section-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">라인업</h2>
			</div>
			
			<div class="row">
				
				<div class="col-md-4 col-sm-4">
					<div class="box-icon wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
						
						<p>
							5월 24일
						</p>
						
						
						<div class="icon icon-primary">
							<div class="container" id="con">
							<img src="img/mamamo.png" class="img-fluid">
							<div class="overlay" id="over">
								<div class="text" id="txt">마마무</div>
							</div>
							</div>
						</div>
						
					</div>
				</div>
				<!-- 5.24 -->
				<div class="col-md-4 col-sm-4">
					<div class="box-icon wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
						
						<p>
							 5월 25일
						</p>
						
						<div class="icon icon-primary">
							<div class="container" id="con">
							<img src="img/shin.png" class="img-fluid">
							<div class="overlay" id="over">
								<div class="text" id="txt">신현희와 김루트</div>
							</div>
							</div>
						</div>
				
						
						<div class="icon icon-primary">
						<div class="container" id="con">
							<img src="img/gummy.png" class="img-fluid">
							<div class="overlay" id="over">
								<div class="text" id="txt">거미</div>
							</div>
							</div>
						</div>
						
					</div>
				</div>
				<!-- 5.25 -->
				<div class="col-md-4 col-sm-4">
					<div class="box-icon wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
						<p>5월 26일</p>
						<div class="icon icon-primary">
							<div class="container" id="con">
							<img src="img/eight.png" class="img-fluid">
							<div class="overlay" id="over">
								<div class="text" id="txt">에이트</div>
							</div>
							</div>
						</div>
						<div class="icon icon-primary">
							<div class="container" id="con">
							<img src="img/psy.png" class="img-fluid">
							<div class="overlay" id="over">
								<div class="text" id="txt">싸이</div>
							</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 5.26 -->
			</div>
			<!-- row -->
		</div> <!-- container -->
	</div>


</section>
