<section id="line-up" class="section">
<div class="section contact-icon">
<div class="overlay">
</div>
<div class="container">
	<div class="section-header text-center">
		<h2 class="section-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">라인업</h2>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-4">
			<div class="box-icon wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
				<div class="icon icon-primary">
					<img src="img/mamamo.png" class="img-fluid">
				</div>
				<p>
					 5월 24일
				</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="box-icon wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
				<div class="icon icon-secondary">
					<img src="img/shin.png" class="img-fluid">
				</div>
				<div class="icon icon-secondary">
					<img src="img/gummy.png" class="img-fluid">
				</div>
				<p>
					 5월 25일
				</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="box-icon wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
				<div class="icon icon-secondary">
					<img src="img/eight.png" class="img-fluid">
				</div>
				<div class="icon icon-secondary">
					<img src="img/psy.png" class="img-fluid">
				</div>
				<p>
					 5월 26일
				</p>
			</div>
		</div>
	</div>
</div>
</section>
