<!-- Header Section Start -->
<header id="hero-area">
<div class="overlay">
</div>
<nav class="navbar navbar-toggleable-sm fixed-top navbar-light bg-faded">
<div class="container w-100">
	<a class="navbar-brand pl-3" href="/"><img src="img/jbnulogo.png" style="width:50px; height:50px;" alt=""></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	<i class="icon-menu"></i>
	</button>
</div>
<div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
	<ul class="navbar-nav">
		<li class="nav-item">
		<a class="nav-link" href="#hero-area">홈</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#why">축제정보</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#team">주막정보</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#line-up">라인업</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#maden">만든이</a>
		</li>
	</ul>
</div>
</div>
</nav>
<div class="container">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
</div>
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-lg-6 col-sm-12">
			<div class="item active">
				<div class="contents text-center">
					<img class="img-member img-fluid" src="img/seung/festival.jpg" style="height: 100%; width: 100%;">
					<div class=" d-flex align-items-center">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</header>