<!-- nav -->
<%= render 'nav' %>

<!--축제정보-->
<%= render 'festival' %>

<!--라인업-->
<%= render 'line_up.html.erb' %>

<!--주막정보-->
<%= render partial: 'tent', locals: {tents: @tents}%>


<!-- Contact Icon End -->
<!-- Footer Section Start -->
<footer>

<!-- Footer area End -->
<!-- Copyright Start  -->
<div id="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="site-info pull-left wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
					<p>
						 Template by <a rel="nofollow" href="http://graygrids.com">GrayGrids</a>
					</p>
				</div>
				<div class="bottom-social-icons social-icon pull-right wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
					<a class="twitter" href="https://twitter.com/GrayGrids"><i class="fa fa-twitter"></i></a>
					<a class="facebook" " href="https://web.facebook.com/GrayGrids"><i class="fa fa-facebook"></i></a>
					<a class="google-plus" " href="https://plus.google.com/+GrayGrids"><i class="fa fa-google-plus"></i></a>
					<a class="linkedin" href="https://www.linkedin.com/GrayGrids"><i class="fa fa-linkedin"></i></a>
					<a class="dribble" href="https://dribbble.com/GrayGrids"><i class="fa fa-dribbble"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Copyright End -->
</footer>
<!-- Footer Section End -->
<!-- Go To Top Link -->
<a href="#" class="back-to-top">
<i class="fa fa-arrow-up"></i>
</a>
<div id="loader">
	<div class="cssload-thecube">
		<div class="cssload-cube cssload-c1">
		</div>
		<div class="cssload-cube cssload-c2">
		</div>
		<div class="cssload-cube cssload-c4">
		</div>
		<div class="cssload-cube cssload-c3">
		</div>
	</div>
</div>


<script>
      function add_review(id) {
        var val = $("#inlineFormInput"+id).val();
        alert(val);
        
      $.ajax({
      method: "POST",
      url: "/tents/"+id+"/reviews",
      dataType: 'text',//데이타 타입
      data: { content : val },
      success: function(data){
         
        $("#review"+id).prepend(
            "<div class='row'>"
            + "<p class='pl-3'># "+val+"</p>"
            + "</div>"
         );
      
         alert("success");
      },
      error: function(){
        alert("fail");
      }
      
    });
   
         $("#inlineFormInput"+id).val("");
        
        event.preventDefault(); // 새로고침 방지
      }
</script>

<script>

function request_like(id)
{
    alert("running..");
    $.ajax({
    method: "GET",
    url: "/tents/"+id+"/like",
    success: function(data){
        alert("success");
        $("#tent_likes"+id).html(data.likes)
    },
    error: function(){
        alert("fail");
    }
      
    });
}

</script>