<!-- nav -->
<%= render 'nav' %>

<!--축제정보-->
<%= render 'festival' %>

<!--주막정보-->
<%= render partial: 'tent', locals: {tents: @tents}%>

<!--라인업-->
<%= render 'line_up.html.erb' %>


<!-- End Pricing Table Section -->
<!-- Contact Section Start -->
<section id="contact" class="section">
<div class="contents text-center">
	<h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">Basic - Bootstrap 4 Template</h1>
	<p class="lead wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">
		 You are using Free/Lite version<br>
		 Full version comes with all Sections and Features to Launch a Complete Website same as the Demo.<br>
		 Including - Support, Documentation and Future Updates
	</p>
	<a rel="nofollow" href="https://rebrand.ly/basic-purchase" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Get Full Version</a>
</div>
</section>
<!-- Contact Section End -->
<!-- Contact Icon Start -->
<div class="section contact-icon">
	<div class="overlay">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="box-icon wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
					<div class="icon icon-primary">
						<i class="icon-map"></i>
					</div>
					<p>
						 Avenue C, Block.04, DW, USA
					</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="box-icon wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
					<div class="icon icon-secondary">
						<i class="icon-envelope"></i>
					</div>
					<p>
						 info@yourdamainname.com
					</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="box-icon wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="700ms">
					<div class="icon icon-tertiary">
						<i class="icon-phone"></i>
					</div>
					<p>
						 (+699)1234-7575-45
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Contact Icon End -->
<!-- Footer Section Start -->
<footer>
<!-- Footer Area Start -->
<section class="footer-Content">
<div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
	<h3 class="logo-title">Basic</h3>
	<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="widget">
				<div class="textwidget">
					<p>
						 Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
					</p>
				</div>
				<form class="subscribe-box">
					<input placeholder="Your email" type="text">
					<input class="btn-system" value="Send" type="submit">
				</form>
			</div>
		</div>
		<div class="col-md-2 col-sm-6 col-xs-12">
			<div class="widget">
				<h3 class="block-title">Links</h3>
				<ul class="menu">
					<li><a href="#">About Us</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Works</a></li>
					<li><a href="#">Pricing</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-2 col-sm-6 col-xs-12">
			<div class="widget">
				<h3 class="block-title">Services</h3>
				<ul class="menu">
					<li><a href="#">Web Design</a></li>
					<li><a href="#">Graphics Design</a></li>
					<li><a href="#">Branding</a></li>
					<li><a href="#">UX Consulting</a></li>
					<li><a href="#">Mobile Apps</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="widget">
				<h3 class="block-title">Flicker Gallery</h3>
				<ul class="featured-list">
					<li>
					<a href="#"><img alt="" src="img/featured/img1.jpg"></a>
					</li>
					<li>
					<a href="#"><img alt="" src="img/featured/img2.jpg"></a>
					</li>
					<li>
					<a href="#"><img alt="" src="img/featured/img3.jpg"></a>
					</li>
					<li>
					<a href="#"><img alt="" src="img/featured/img4.jpg"></a>
					</li>
					<li>
					<a href="#"><img alt="" src="img/featured/img5.jpg"></a>
					</li>
					<li>
					<a href="#"><img alt="" src="img/featured/img6.jpg"></a>
					</li>
					<li>
					<a href="#"><img alt="" src="img/featured/img7.jpg"></a>
					</li>
					<li>
					<a href="#"><img alt="" src="img/featured/img8.jpg"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</section>
<!-- Footer area End -->
<!-- Copyright Start  -->
<div id="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="site-info pull-left wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
					<p>
						 Template by <a rel="nofollow" href="http://graygrids.com">GrayGrids</a>
					</p>
				</div>
				<div class="bottom-social-icons social-icon pull-right wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
					<a class="twitter" href="https://twitter.com/GrayGrids"><i class="fa fa-twitter"></i></a>
					<a class="facebook" " href="https://web.facebook.com/GrayGrids"><i class="fa fa-facebook"></i></a>
					<a class="google-plus" " href="https://plus.google.com/+GrayGrids"><i class="fa fa-google-plus"></i></a>
					<a class="linkedin" href="https://www.linkedin.com/GrayGrids"><i class="fa fa-linkedin"></i></a>
					<a class="dribble" href="https://dribbble.com/GrayGrids"><i class="fa fa-dribbble"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Copyright End -->
</footer>
<!-- Footer Section End -->
<!-- Go To Top Link -->
<a href="#" class="back-to-top">
<i class="fa fa-arrow-up"></i>
</a>
<div id="loader">
	<div class="cssload-thecube">
		<div class="cssload-cube cssload-c1">
		</div>
		<div class="cssload-cube cssload-c2">
		</div>
		<div class="cssload-cube cssload-c4">
		</div>
		<div class="cssload-cube cssload-c3">
		</div>
	</div>
</div>


<script>
      function add_review(id) {
        var val = $("#inlineFormInput"+id).val();
        alert(val);
        
      $.ajax({
      method: "POST",
      url: "/tents/"+id+"/reviews",
      dataType: 'text',//데이타 타입
      data: { content : val },
      success: function(data){
         
        $("#review"+id).prepend(
            "<div class='row'>"
            + "<p class='pl-3'># "+val+"</p>"
            + "</div>"
         );
      
         alert("success");
      },
      error: function(){
        alert("fail");
      }
      
    });
   
         $("#inlineFormInput"+id).val("");
        
        event.preventDefault(); // 새로고침 방지
      }
</script>

<script>

function request_like(id)
{
    alert("running..");
    $.ajax({
    method: "GET",
    url: "/tents/"+id+"/like",
    success: function(data){
        alert("success");
        $("#tent_likes"+id).html(data.likes)
    },
    error: function(){
        alert("fail");
    }
      
    });
}

</script>